---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Areas de práctica">
    <div class="no-bottom no-top" id="content">
        <div id="top"></div>
        <!-- section begin -->
        <section id="subheader" class="jarallax text-white">
            <img
                src="/assets/images/background/subheader1.jpg"
                class="jarallax-img"
                alt=""
            />
            <div class="center-y relative text-center">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <div class="spacer-single"></div>
                            <h1>Áreas de Práctica</h1>
                            <p>Conocimientos, experiencia y resultados</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section close -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-xs-12 mb30">
                        <div class="dcg-four dcg-item">
                            <a class="dcg-url" href="#"></a>
                            <img
                                class="dcg-image"
                                src="/assets/images/practice-areas/1.jpg"
                                alt=""
                            />
                            <div class="dcg-title">
                                <i class="dcg-icon id-color icofont-group"
                                ></i>Derecho Civil
                            </div>
                            <div class="dcg-content">
                                <ul>
                                    <li>Contratos</li>
                                    <li>Arrendamientos</li>
                                    <li>
                                        Prestación de servicios profesionales
                                    </li>
                                    <li>Regularización de inmuebles</li>
                                    <li>Responsabilidad civil</li>
                                    <li>Cumplimiento de contratos</li>
                                    <li>Juicios hipotecarios</li>
                                    <li>
                                        Asesoría y representación legal en
                                        conflictos
                                    </li>
                                </ul>
                            </div>
                            <!-- <div class="dcg-text">Read More</div> -->
                            <div class="dcg-overlay"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12 mb30">
                        <div class="dcg-four dcg-item">
                            <a class="dcg-url" href="#"></a>
                            <img
                                class="dcg-image"
                                src="/assets/images/practice-areas/2.jpg"
                                alt=""
                            />
                            <div class="dcg-title">
                                <i
                                    class="dcg-icon id-color icofont-medical-sign-alt"
                                ></i>Derecho laboral
                            </div>
                            <div class="dcg-content">
                                <ul>
                                    <li>
                                        Defensa de trabajadores en despidos
                                        injustificados, riesgos de trabajo y
                                        reclamo de prestaciones
                                    </li>
                                    <li>
                                        Prevención empresarial para patrones o
                                        empleadores, asesoría y representación
                                        legal en conflictos de carácter laboral
                                    </li>
                                </ul>
                            </div>
                            <div class="dcg-overlay"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12 mb30">
                        <div class="dcg-four dcg-item">
                            <a class="dcg-url" href="#"></a>
                            <img
                                class="dcg-image"
                                src="/assets/images/practice-areas/3.jpg"
                                alt=""
                            />
                            <div class="dcg-title">
                                <i class="dcg-icon id-color icofont-mining"
                                ></i>Derecho mercantil
                            </div>
                            <div class="dcg-content">
                                <ul>
                                    <li>
                                        Cobro de pagarés y otros títulos de
                                        crédito
                                    </li>
                                    <li>Contratos mercantiles</li>
                                    <li>
                                        Servicios preventivos y representación
                                        en conflictos de carácter jurídico
                                    </li>
                                    <li>
                                        Asesoría para la creación de personas
                                        morales
                                    </li>
                                </ul>
                            </div>
                            <div class="dcg-overlay"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12 mb30">
                        <div class="dcg-four dcg-item">
                            <a class="dcg-url" href="#"></a>
                            <img
                                class="dcg-image"
                                src="/assets/images/practice-areas/4.jpg"
                                alt=""
                            />
                            <div class="dcg-title">
                                <i class="dcg-icon id-color icofont-law-order"
                                ></i>Derecho familiar
                            </div>
                            <div class="dcg-content">
                                <ul>
                                    <li>Divorcio</li>
                                    <li>Pensión alimenticia</li>
                                    <li>Interdicción</li>
                                    <li>Sucesiones</li>
                                    <li>Guarda y custodia</li>
                                    <li>Visitas y convivencias</li>
                                    <li>
                                        Asesoría para elaboración de testamento
                                    </li>
                                </ul>
                            </div>
                            <div class="dcg-overlay"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12 mb30">
                        <div class="dcg-four dcg-item">
                            <a class="dcg-url" href="#"></a>
                            <img
                                class="dcg-image"
                                src="/assets/images/practice-areas/5.jpg"
                                alt=""
                            />
                            <div class="dcg-title">
                                <i
                                    class="dcg-icon id-color icofont-group-students"
                                ></i>Derecho empresarial y corporativo
                            </div>
                            <div class="dcg-content">
                                <ul>
                                    <li>
                                        Desarrollamos o corregimos la estructura
                                        legal de su empresa o negocio
                                    </li>
                                    <li>
                                        Protegemos jurídicamente todas las
                                        operaciones que realiza su empresa o
                                        negocio
                                    </li>
                                    <li>
                                        Representación legal en conflictos
                                        jurídicos relacionados con las
                                        actividades de su empresa
                                    </li>
                                </ul>
                            </div>
                            <div class="dcg-overlay"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12 mb30">
                        <div class="dcg-four dcg-item">
                            <a class="dcg-url" href="#"></a>
                            <img
                                class="dcg-image"
                                src="/assets/images/practice-areas/6.jpg"
                                alt=""
                            />
                            <div class="dcg-title">
                                <i class="dcg-icon id-color icofont-money"
                                ></i>Derecho migratorio
                            </div>
                            <div class="dcg-content">
                                <ul>
                                    <li>
                                        Trámites ante la Secretaría de
                                        Relaciones Exteriores (SRE)
                                    </li>
                                    <li>Residencias</li>
                                    <li>Alta como empleador</li>
                                    <li>Contratación de extranjeros</li>
                                </ul>
                            </div>
                            <div class="dcg-overlay"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12 mb30">
                        <div class="dcg-four dcg-item">
                            <a class="dcg-url" href="#"></a>
                            <img
                                class="dcg-image"
                                src="/assets/images/practice-areas/7.jpg"
                                alt=""
                            />
                            <div class="dcg-title">
                                <i class="dcg-icon id-color icofont-building"
                                ></i>Derecho administrativo
                            </div>
                            <div class="dcg-content">
                                <ul>
                                    <li>
                                        Responsabilidad patrimonial del Estado
                                    </li>
                                    <li>
                                        Representación en conflictos
                                        relacionados con actos y sanciones de
                                        las autoridades
                                    </li>
                                    <li>Multas y sanciones administrativas</li>
                                </ul>
                            </div>
                            <div class="dcg-overlay"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12 mb30">
                        <div class="dcg-four dcg-item">
                            <a class="dcg-url" href="#"></a>
                            <img
                                class="dcg-image"
                                src="/assets/images/practice-areas/8.jpg"
                                alt=""
                            />
                            <div class="dcg-title">
                                <i class="dcg-icon id-color icofont-bank"
                                ></i>Seguridad social
                            </div>
                            <div class="dcg-content">
                                <ul style="font-size: 0.8em">
                                    <li>
                                        Controversias relacionadas con pensiones
                                        denegadas o suspendidas, así como su
                                        cuantificación y aumento
                                    </li>
                                    <li>
                                        Representación en trámites y conflictos
                                        relacionados con el Instituto Mexicano
                                        del Seguro Social (IMSS)
                                    </li>
                                    <li>
                                        Representación en trámites y conflictos
                                        relacionados con el Instituto de
                                        Seguridad y Servicios Sociales para los
                                        Trabajadores del Estado (ISSSTE)
                                    </li>
                                    <li>
                                        Representación en trámites y conflictos
                                        relacionados con el Instituto de
                                        Seguridad Social para las Fuerzas
                                        Armadas Mexicanas (ISSFAM)
                                    </li>
                                    <li>
                                        Representación en trámites y conflictos
                                        relacionados con el Instituto del Fondo
                                        Nacional de la Vivienda para los
                                        Trabajadores (INFONAVIT)
                                    </li>
                                </ul>
                            </div>
                            <div class="dcg-overlay"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12 mb30">
                        <div class="dcg-four dcg-item">
                            <a class="dcg-url" href="#"></a>
                            <img
                                class="dcg-image"
                                src="/assets/images/practice-areas/9.jpg"
                                alt=""
                            />
                            <div class="dcg-title">
                                <i class="dcg-icon id-color icofont-light-bulb"
                                ></i>Propiedad intelectual
                            </div>
                            <div class="dcg-content">
                                <ul>
                                    <li>
                                        Trámites ante el Instituto Mexicano de
                                        la Propiedad Industrial (IMPI)
                                    </li>
                                    <li>Registros de marcas</li>
                                    <li>
                                        Representación en conflictos
                                        relacionados con la propiedad
                                        intelectual
                                    </li>
                                </ul>
                            </div>
                            <div class="dcg-overlay"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12 mb30">
                        <div class="dcg-four dcg-item">
                            <a class="dcg-url" href="#"></a>
                            <img
                                class="dcg-image"
                                src="/assets/images/practice-areas/9.jpg"
                                alt=""
                            />
                            <div class="dcg-title">
                                <i class="dcg-icon id-color icofont-light-bulb"
                                ></i>Procuraduría Federal del Consumidor
                                (PROFECO)
                            </div>
                            <div class="dcg-content">
                                <li>
                                    Quejas como consumidor derivadas del mal
                                    servicio de proveedores
                                </li>
                                <li>
                                    Representación de proveedores ante quejas de
                                    consumidores
                                </li>
                                <li>Prevención de conflictos</li>
                            </div>
                            <div class="dcg-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="pt40 pb40 bg-color text-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 mb-sm-30 text-lg-start text-sm-center">
                    <h3 class="no-bottom">¡Contáctanos! Déjanos ayudarte.</h3>
                </div>
                <div class="col-md-4 text-lg-end rtl-lg-start text-sm-center">
                    <a href="/contacto" class="btn-custom btn-black light"
                        >Manda un mensaje</a
                    >
                </div>
            </div>
        </div>
    </section>
</Layout>
