---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bienvenidos">
	<div class="no-bottom no-top" id="content">
		<div id="top"></div>
		<!-- revolution slider begin -->
		<section
			id="de-carousel"
			class="no-top no-bottom carousel slide carousel-fade shadow-2-strong"
			data-mdb-ride="carousel"
		>
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li
					data-mdb-target="#de-carousel"
					data-mdb-slide-to="0"
					class="active"
				>
				</li>
				<li data-mdb-target="#de-carousel" data-mdb-slide-to="1"></li>
				<li data-mdb-target="#de-carousel" data-mdb-slide-to="2"></li>
			</ol>

			<!-- Inner -->
			<div class="carousel-inner">
				<!-- Single item -->
				<div
					class="carousel-item active"
					data-bgimage="url(assets/images/slider/1.jpg)"
				>
					<div class="mask">
						<div
							class="d-flex justify-content-center align-items-center h-100"
						>
							<div class="container text-white">
								<div class="row">
									<div class="col-lg-5">
										<!-- <h4 class="id-color wow fadeInUp">Need Any Help?</h4> -->
										<h1 class="mb-3 wow fadeInUp">
											Nuestro objetivo son tus intereses
										</h1>
										<p
											class="lead wow fadeInUp"
											data-wow-delay=".3s"
										>
											Diseñamos nuestras estrategias
											jurídicas para darle solución a tus
											necesidades desde la prevención y
											hasta las controversias.
										</p>
										<div class="spacer-10"></div>
										<a
											href="/areas-de-practica"
											class="btn-custom wow fadeInUp"
											data-wow-delay=".6s">Explorar</a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Single item -->
				<div
					class="carousel-item"
					data-bgimage="url(assets/images/slider/2.jpg)"
				>
					<div class="mask">
						<div
							class="d-flex justify-content-center align-items-center h-100"
						>
							<div class="container text-white">
								<div class="row">
									<div class="col-lg-5">
										<!-- <h4 class="id-color wow fadeInUp">Law &amp; Insurance Specialist</h4> -->
										<h1 class="mb-3 wow fadeInUp">
											Nuestras capacidades
										</h1>
										<p
											class="lead wow fadeInUp"
											data-wow-delay=".3s"
										>
											Somos un equipo multidisciplinario
											que se encuentra en constante
											actualización ante los cambios
											actuales en el sistema jurídico
											mexicano.
										</p>
										<div class="spacer-10"></div>
										<a
											href="/areas-de-practica"
											class="btn-custom wow fadeInUp"
											data-wow-delay=".6s">Explorar</a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Inner -->

			<!-- Controls -->
			<a
				class="carousel-control-prev"
				href="#de-carousel"
				role="button"
				data-mdb-slide="prev"
			>
				<span class="carousel-control-prev-icon" aria-hidden="true"
				></span>
				<span class="sr-only">Anterior</span>
			</a>
			<a
				class="carousel-control-next"
				href="#de-carousel"
				role="button"
				data-mdb-slide="next"
			>
				<span class="carousel-control-next-icon" aria-hidden="true"
				></span>
				<span class="sr-only">Siguiente</span>
			</a>
		</section>
		<!-- revolution slider close -->
		<section class="pt40 pb40 bg-color text-light">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-8 mb-sm-30 text-lg-start text-sm-center">
						<h3 class="no-bottom">
							¡Contáctanos! Déjanos ayudarte.
						</h3>
					</div>
					<div
						class="col-md-4 text-lg-end rtl-lg-start text-sm-center"
					>
						<a href="/contacto" class="btn-custom btn-black light"
							>Manda un mensaje</a
						>
					</div>
				</div>
			</div>
		</section>
		<section
			id="section-highlight"
			class="relative text-light"
			data-bgcolor="#111111"
		>
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-4">
						<span class="p-title">Bienvenido</span><br />
						<h2>Nosotros</h2>
						<div class="small-border sm-left"></div>
					</div>
					<div class="col-md-8">
						<p>
							Somos una firma de abogados con más de diez años de
							experiencia, nuestra matriz se encuentra en la
							Ciudad de México pero contamos con la capacidad de
							representarle en cualquier parte de la República
							Mexicana, nuestra trayectoria y preparación es la
							necesaria para poder asegurarle que los servicios
							que le ofrecemos son realmente la mejor opción para
							proteger sus intereses.
						</p>
					</div>
				</div>
				<div class="spacer-double"></div>
			</div>
		</section>
		<section class="no-top relative z1000">
			<div class="container">
				<div class="row mt-100">
					<div
						class="col-md-4 mb-sm-30 wow fadeInRight"
						data-wow-delay=".2s"
					>
						<div class="mask">
							<div class="cover">
								<div class="c-inner">
									<h3>
										<i class="icofont-people"></i><span
											>Asesoría Legal</span
										>
									</h3>
									<p style="text-align: justify">
										Uno de nuestros objetivos es que en el
										primer contacto con nuestros clientes se
										les brinde la información necesaria para
										que conozcan su situación jurídica, así
										como la atención a sus necesidades que
										de manera profesional ponemos a su
										disposición.
									</p>
									<div class="spacer20"></div>
									<!-- <a href="#" class="btn-custom capsule">Read more</a> -->
								</div>
							</div>
							<img
								src="assets/images/services/1.jpg"
								alt=""
								class="img-responsive"
							/>
						</div>
					</div>
					<div
						class="col-md-4 mb-sm-30 wow fadeInRight"
						data-wow-delay=".4s"
					>
						<div class="mask">
							<div class="cover">
								<div class="c-inner">
									<h3>
										<i class="icofont-folder"></i><span
											>Servicios Preventivos</span
										>
									</h3>
									<p style="text-align: justify">
										El camino más económico para solucionar
										un conflicto en al ámbito jurídico es el
										de la prevención, es por eso que
										brindamos servicios preventivos que
										mitigan los riesgos jurídicos propios de
										las actividades económicas que como
										empresas o particulares se realizan.
									</p>
									<div class="spacer20"></div>
									<!-- <a href="#" class="btn-custom capsule">Read more</a> -->
								</div>
							</div>
							<img
								src="assets/images/services/2.jpg"
								alt=""
								class="img-responsive"
							/>
						</div>
					</div>
					<div
						class="col-md-4 mb-sm-30 wow fadeInRight"
						data-wow-delay=".6s"
					>
						<div class="mask">
							<div class="cover">
								<div class="c-inner">
									<h3>
										<i class="icofont-law-order"></i><span
											>Representación Legal</span
										>
									</h3>
									<p style="text-align: justify">
										Nuestra firma cuenta con la capacidad y
										el conocimiento necesario para
										representarle en cualquier conflicto o
										trámite relacionado con nuestras Áreas
										de Práctica en el ámbito jurídico, es
										por eso que ponemos a su disposición
										nuestros servicios legales que siempre
										tendrán como objetivo principal proteger
										su patrimonio e integridad.
									</p>
									<div class="spacer20"></div>
									<!-- <a href="#" class="btn-custom capsule">Read more</a> -->
								</div>
							</div>
							<img
								src="assets/images/services/3.jpg"
								alt=""
								class="img-responsive"
							/>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section data-bgcolor="#111111" class="text-light">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-5 offset-lg-7">
						<span class="p-title">Experiencias</span><br />
						<h2>Ponemos nuestros conocimientos a tu disposición</h2>
						<p style="text-align: justify">
							Constantemente nos encontramos en actualización, no
							sólo en el ámbito práctico sino en el académico,
							incrementamos nuestros conocimientos mediante
							estudios de posgrado y diplomados en las mejores
							instituciones educativas de la Ciudad de México.
						</p>
					</div>
				</div>
			</div>
			<div class="jarallax image-container col-md-6 pull-right">
				<img
					src="assets/images/background/9.jpg"
					class="jarallax-img"
					alt=""
				/>
			</div>
		</section>
		<section id="section-practice-areas">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="text-center">
							<h2>Áreas de Práctica</h2>
							<div class="small-border"></div>
						</div>
					</div>
					<div class="col-md-6 offset-md-3 text-center">
						<p>
							Los servicios que le ofrecemos están sustentados por
							especialistas en las diferentes ramas del derecho,
							estamos comprometidos a brindarle un servicio de
							calidad en el que existe concordancia entre nuestras
							capacidades, conocimientos, experiencia y sus
							necesidades.
						</p>
					</div>
					<div class="spacer-single"></div>
					<div class="col-md-4">
						<ul
							class="ul-style-2 wow fadeInRight"
							data-wow-delay=".2s"
						>
							<li>Derecho civil</li>
							<li>Derecho laboral</li>
							<li>Derecho mercantil</li>
							<li>Derecho familiar</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul
							class="ul-style-2 wow fadeInRight"
							data-wow-delay=".4s"
						>
							<li>Derecho empresarial y coporativo</li>
							<li>Derecho migratorio</li>
							<li>Derecho administrativo</li>
							<li>Seguridad social</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul
							class="ul-style-2 wow fadeInRight"
							data-wow-delay=".6s"
						>
							<li>Propiedad intelectual</li>
							<li>Procaduría Federal del Consumidor (PROFECO)</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section aria-label="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2>Nuestro Equipo</h2>
						<div class="small-border"></div>
					</div>
					<div
						class="col-lg-6 col-md-6 col-sm-6 mb30 wow fadeInRight"
						data-wow-delay=".2s"
					>
						<div class="f-profile text-center">
							<div class="fp-wrap f-invert">
								<div class="fpw-overlay">
									<div class="fpwo-wrap">
										<div class="fpwow-icons">
											<a href="#"
												><i class="fa fa-facebook fa-lg"
												></i></a
											>
											<a href="#"
												><i class="fa fa-twitter fa-lg"
												></i></a
											>
											<a href="#"
												><i class="fa fa-linkedin fa-lg"
												></i></a
											>
											<a href="#"
												><i
													class="fa fa-pinterest fa-lg"
												></i></a
											>
										</div>
									</div>
								</div>
								<div class="fpw-overlay-btm"></div>
								<img
									src="assets/images/team/1.jpg"
									class="fp-image img-fluid"
									alt=""
								/>
							</div>
							<h4>Arturo Saldaña</h4>
							Socio y Director General
						</div>
					</div>
					<div
						class="col-lg-6 col-md-6 col-sm-6 mb30 wow fadeInRight"
						data-wow-delay=".4s"
					>
						<div class="f-profile text-center">
							<div class="fp-wrap f-invert">
								<div class="fpw-overlay">
									<div class="fpwo-wrap">
										<div class="fpwow-icons">
											<a href="#"
												><i class="fa fa-facebook fa-lg"
												></i></a
											>
											<a href="#"
												><i class="fa fa-twitter fa-lg"
												></i></a
											>
											<a href="#"
												><i class="fa fa-linkedin fa-lg"
												></i></a
											>
											<a href="#"
												><i
													class="fa fa-pinterest fa-lg"
												></i></a
											>
										</div>
									</div>
								</div>
								<div class="fpw-overlay-btm"></div>
								<img
									src="assets/images/team/2.jpg"
									class="fp-image img-fluid"
									alt=""
								/>
							</div>
							<h4>Cecilia Zaragoza</h4>
							Socia
						</div>
					</div>
					<div
						class="col-lg-6 col-md-6 col-sm-6 mb30 wow fadeInRight"
						data-wow-delay=".6s"
					>
						<div class="f-profile text-center">
							<div class="fp-wrap f-invert">
								<div class="fpw-overlay">
									<div class="fpwo-wrap">
										<div class="fpwow-icons">
											<a href="#"
												><i class="fa fa-facebook fa-lg"
												></i></a
											>
											<a href="#"
												><i class="fa fa-twitter fa-lg"
												></i></a
											>
											<a href="#"
												><i class="fa fa-linkedin fa-lg"
												></i></a
											>
											<a href="#"
												><i
													class="fa fa-pinterest fa-lg"
												></i></a
											>
										</div>
									</div>
								</div>
								<div class="fpw-overlay-btm"></div>
								<img
									src="assets/images/team/2.jpg"
									class="fp-image img-fluid"
									alt=""
								/>
							</div>
							<h4>Claudia Souza</h4>
							Asociada
						</div>
					</div>
					<div
						class="col-lg-6 col-md-6 col-sm-6 mb30 wow fadeInRight"
						data-wow-delay=".2s"
					>
						<div class="f-profile text-center">
							<div class="fp-wrap f-invert">
								<div class="fpw-overlay">
									<div class="fpwo-wrap">
										<div class="fpwow-icons">
											<a href="#"
												><i class="fa fa-facebook fa-lg"
												></i></a
											>
											<a href="#"
												><i class="fa fa-twitter fa-lg"
												></i></a
											>
											<a href="#"
												><i class="fa fa-linkedin fa-lg"
												></i></a
											>
											<a href="#"
												><i
													class="fa fa-pinterest fa-lg"
												></i></a
											>
										</div>
									</div>
								</div>
								<div class="fpw-overlay-btm"></div>
								<img
									src="assets/images/team/2.jpg"
									class="fp-image img-fluid"
									alt=""
								/>
							</div>
							<h4>Lendali Báez</h4>
							Asociada
						</div>
					</div>
					<div
						class="col-lg-6 col-md-6 col-sm-6 mb30 wow fadeInRight"
						data-wow-delay=".4s"
					>
						<div class="f-profile text-center">
							<div class="fp-wrap f-invert">
								<div class="fpw-overlay">
									<div class="fpwo-wrap">
										<div class="fpwow-icons">
											<a href="#"
												><i class="fa fa-facebook fa-lg"
												></i></a
											>
											<a href="#"
												><i class="fa fa-twitter fa-lg"
												></i></a
											>
											<a href="#"
												><i class="fa fa-linkedin fa-lg"
												></i></a
											>
											<a href="#"
												><i
													class="fa fa-pinterest fa-lg"
												></i></a
											>
										</div>
									</div>
								</div>
								<div class="fpw-overlay-btm"></div>
								<img
									src="assets/images/team/3.jpg"
									class="fp-image img-fluid"
									alt=""
								/>
							</div>
							<h4>Gersson Rodríguez</h4>
							Asociado
						</div>
					</div>
					<div
						class="col-lg-6 col-md-6 col-sm-6 mb30 wow fadeInRight"
						data-wow-delay=".6s"
					>
						<div class="f-profile text-center">
							<div class="fp-wrap f-invert">
								<div class="fpw-overlay">
									<div class="fpwo-wrap">
										<div class="fpwow-icons">
											<a href="#"
												><i class="fa fa-facebook fa-lg"
												></i></a
											>
											<a href="#"
												><i class="fa fa-twitter fa-lg"
												></i></a
											>
											<a href="#"
												><i class="fa fa-linkedin fa-lg"
												></i></a
											>
											<a href="#"
												><i
													class="fa fa-pinterest fa-lg"
												></i></a
											>
										</div>
									</div>
								</div>
								<div class="fpw-overlay-btm"></div>
								<img
									src="assets/images/team/3.jpg"
									class="fp-image img-fluid"
									alt=""
								/>
							</div>
							<h4>Antonio Flores</h4>
							Asociado
						</div>
					</div>
				</div>
			</div>
		</section>
		<section aria-label="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="text-center">
							<h2>Últimas reformas jurídicas</h2>
							<div class="small-border"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 mb30">
						<div class="bloglist item">
							<div class="post-content">
								<div class="date-box">
									<div class="m">10</div>
									<div class="d">NOV</div>
								</div>
								<div class="post-image">
									<img
										alt=""
										src="assets/images/news/1.jpg"
									/>
								</div>
								<div class="post-text">
									<span class="p-tagline">Law Firm</span>
									<h4>
										<a href="news-single.html"
											>The Lawyer European Awards
											shortlist<span></span></a
										>
									</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur
										adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna
										aliqua.
									</p>
									<span class="p-author"
										>Fynley Wilkinson</span
									>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mb30">
						<div class="bloglist item">
							<div class="post-content">
								<div class="date-box">
									<div class="m">15</div>
									<div class="d">NOV</div>
								</div>
								<div class="post-image">
									<img
										alt=""
										src="assets/images/news/2.jpg"
									/>
								</div>
								<div class="post-text">
									<span class="p-tagline">Law Firm</span>
									<h4>
										<a href="news-single.html"
											>Six firms that are setting the
											trend<span></span></a
										>
									</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur
										adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna
										aliqua.
									</p>
									<span class="p-author"
										>Fynley Wilkinson</span
									>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mb30">
						<div class="bloglist item">
							<div class="post-content">
								<div class="date-box">
									<div class="m">20</div>
									<div class="d">NOV</div>
								</div>
								<div class="post-image">
									<img
										alt=""
										src="assets/images/news/3.jpg"
									/>
								</div>
								<div class="post-text">
									<span class="p-tagline">Law Firm</span>
									<h4>
										<a href="news-single.html"
											>When it comes to law firm mergers<span
											></span></a
										>
									</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur
										adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna
										aliqua.
									</p>
									<span class="p-author"
										>Fynley Wilkinson</span
									>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
